CatLib.Unity/Library
CatLib.Unity/obj
CatLib.Unity/Temp
CatLib.Unity/*.csproj
CatLib.Unity/*.sln
CatLib.Unity/Assets/Release
CatLib.VS/TestResults
CatLib.VS/CatLib/bin
CatLib.VS/CatLib/obj
CatLib.VS/CatLib.Tests/bin
CatLib.VS/CatLib.Tests/obj
CatLib.VS/CatLib.API/bin
CatLib.VS/CatLib.API/obj
CatLib.VS/CatLib.Tests.Server/bin
CatLib.VS/CatLib.Tests.Server/obj
CatLib.VS/coverage.xml
CatLib.Unity/CatLib.apk
CatLib.Unity/CatLib-1.0-v1.symbols.zip
CatLib.VS/CatLib.Unity/obj/
CatLib.VS/CatLib.Unity/bin/
CatLib.VS/CatLib.Unity.API/obj/
CatLib.VS/CatLib.Unity.API/bin/
CatLib.VS/CatLib.Unity.Tests/obj/
CatLib.VS/CatLib.Unity.Tests/bin/

.vscode
.vs
UWP/
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.svd
*.user
*.unityproj
*.tmp
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
