TestResults
project/CatLib/bin
project/CatLib/obj
project/CatLib.Tests/bin
project/CatLib.Tests/obj
project/CatLib.API/bin
project/CatLib.API/obj
project/CatLib.Tests.Server/bin
project/CatLib.Tests.Server/obj
project/coverage.xml
project/CatLib.Unity/obj/
project/CatLib.Unity/bin/
project/CatLib.Unity.API/obj/
project/CatLib.Unity.API/bin/
project/CatLib.Unity.Tests/obj/
project/CatLib.Unity.Tests/bin/

.vscode
.vs
UWP/
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.svd
*.user
*.unityproj
*.tmp
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
